@charset "utf-8";
@import "partial/settings";

/* Styles.scss */
.o-page {
    font-family: 'myfont';
    line-height: 1.6;
    &__inner {
        display: grid;
        grid-template-rows: [header] auto [aside-left] auto [main] auto [aside-right] auto [footer] auto;
        grid-template-columns: [main] 1fr;
        max-width: 1180px;
        margin: auto;
        color: map-get($nord, nord6);
        text-align: center;
    }
}

.header, .footer {
    background-color: map-get($nord, nord2);
}

.header {
    grid-row: header;
}

.main {
    grid-row: main;
    padding: 3rem 0;
    color: map-get($nord, nord0);
    background-color: map-get($nord, nord8);
}

.aside--left { 
    grid-row: aside-left;
}

.aside--right { 
    grid-row: aside-right;
}

[class^="aside--"] {
    padding: 1.5rem 0;
    color: map-get($nord, nord0);
    background-color: map-get($nord, nord6);
}

.footer {
    grid-row: footer;
}

@media all and (min-width: 60em) {
    .o-page__inner {
        grid-template-rows: [header] auto [main] auto [footer] auto;
        grid-template-columns: [aside-left] 1fr [main] 2fr [aside-right] 1fr;  
    }

    .header, .footer {
        grid-column-start: aside-left;
        grid-column-end: 4;
    }

    .main {
        grid-column: main;
    }

    .aside--left {
        grid-column: aside-left;
        
    }

    .aside--right {
        grid-column: aside-right;
    }

    [class^="aside--"] {
        grid-row-start: main;
        padding: 3rem 0;
    }
}