@charset "utf-8";
@import "partial/settings";

/* Styles.scss */
.o-page {
    font-family: 'myfont';
    line-height: 1.6;
    &__inner {
        display: grid;
        grid-template-rows: [header] auto [main] auto [section] auto [footer] auto;
        grid-template-columns: [main] 1fr;
        max-width: 100%;
        margin: auto;
        color: map-get($nord, nord6);
        text-align: center;
    }
}

.header, .footer {
    background-color: map-get($nord, nord2);
}

.header {
    grid-row: header;
}

.main,
.section {
    color: map-get($nord, nord0);
}

.main {
    grid-row: main;
    padding: 3rem 0;
    background-color: map-get($nord, nord8);
}

.section {
    grid-row: section;
    padding: 1.5rem 0;
    background-color: map-get($nord, nord6);
}

.footer {
    grid-row: footer;
}

@media all and (min-width: 60em) {
    .o-page__inner {
        grid-template-rows: [header] auto [main] auto [section] auto [footer] auto;
        grid-template-columns: 1fr [main] minmax(auto, 1180px) 1fr;  
    }

    .header, .footer, .section {
        grid-column: main;
    }

    .main {
        grid-column-start: 1;
        grid-column-end: 4;
    }
}